.container{
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-items: center;
}
.pricings div{
  margin-top: 10px;
}
.map{
  height: 90%;
  width: 100%;
  padding: 20px;
  margin: auto;
}
.details{
  margin: 10px;
  font-weight: 700;
  font-size: 1rem;
}

.agent{
  border-bottom: 2px solid cadetblue;
  padding: 5px;
  border-radius: 10;
}
.pricings{
  padding: 15px 0;
}
.location{
  color: darkcyan;
}
.avaliablity{
  padding: 10px;
  background: #000;
  border-radius: 10px;
  color: white;
  margin-top: 20px;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}